In [15]:
import os
os.environ["OMP_NUM_THREADS"] = "1"

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

In [23]:
df = pd.read_csv("customer_data.csv")
df.head()

   Age  AnnualIncome  SpendingScore  Tenure  MonthlyCharges Churn
0   22        300000             85       6              50   Yes
1   35        800000             60      24              70    No
2   45       1200000             40      60              90    No
3   25        400000             78      12              55   Yes
4   50       1500000             30      72             100    No

In [24]:
from more_itertools import dft
from sklearn.cluster import KMeans

kmeans = KMeans(
    n_clusters=4,
    random_state=42,
    n_init=10
)

df["Cluster"] = kmeans.fit_predict(scaled_features)

c:\Users\Chinmay\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [3]:
df["Churn"] = df["Churn"].map({"Yes":1, "No":0})

In [26]:
features = df.drop("Churn", axis=1)

scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

kmeans = KMeans(n_clusters=4, random_state=42)
df["Cluster"] = kmeans.fit_predict(scaled_features)

c:\Users\Chinmay\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(